@use "./assets/styles/header.css";
@use "./assets/styles/appMain.scss";
@use "./assets/styles/footer.css";
@use "./assets/styles/mq.css";

@font-face {
  font-family: ArialExtern;
  src: url('./assets/Arial.woff2')
}

@font-face {
  font-family: SegoeExtern;
  src: url('./assets/SegoeUI.woff2')
}

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
  font-size: 14px;
  font-family: SegoeExtern, ArialExtern, Arial, Sans-Serif;
  color: #333;
}

[disabled] {
  pointer-events: none;
}

[disabled] img {
  opacity: 0.5;
}

body [disabled] span, body [disabled] {
  color: #3338;
}

label, button {
  user-select: none;
}

#app {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}