@charset "UTF-8";
#appHeader nav {
  display: flex;
  gap: 7px;
  padding: 5px;
}

#appHeader nav section {
  height: 1lh;
}

#appHeader img {
  width: 1lh;
}

.shortcut {
  padding: 0;
  margin: 0;
  border: 0;
  width: 1lh;
  background-color: rgba(0, 0, 0, 0);
}

#titleInp {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
}

#titleInp::placeholder {
  color: #000;
}

#appHeader .appHeaderSeparator {
  height: 1lh;
  width: 2px;
  background-color: #d7d7d7;
}

#redoBtn {
  transform: rotateY(180deg);
}

#tabs {
  grid-area: tabs;
  display: grid;
  grid-template-columns: 75px 75px 75px 1fr;
}

#tabs .tab {
  justify-content: center;
  display: flex;
  padding: 7px;
  box-shadow: inset -2px 2px 0 0 rgba(0, 0, 0, 0), inset 2px 0 0 0 rgba(0, 0, 0, 0), inset 0 -2px 0 0 #d7d7d7;
}

#voidTab {
  box-shadow: inset 0 -2px 0 0 #d7d7d7;
}

#homeTabChk:checked ~ #app #homeTab {
  background-color: #f5f6f7;
  box-shadow: inset -2px 2px 0 0 #d7d7d7, inset 2px 0 0 0 #d7d7d7;
}

#viewTabChk:checked ~ #app #viewTab {
  background-color: #f5f6f7;
  box-shadow: inset -2px 2px 0 0 #d7d7d7, inset 2px 0 0 0 #d7d7d7;
}

#homeTabChk:checked ~ #app #homeSections {
  display: flex;
}

#viewTabChk:checked ~ #app #viewSections {
  display: flex;
}

#viewTabChk:checked ~ #app #extendSections {
  display: none;
}

#viewTabChk:checked ~ #app #actions {
  grid-template-rows: auto;
  grid-template-areas: "actionSections";
}

#viewTabChk:checked ~ #app #actionSections {
  height: auto;
  padding: 5px 3px;
  padding-bottom: 7px;
}

#viewTabChk:checked ~ #app #viewSections .sectionSeparator {
  display: initial;
}

#fileTab {
  color: #fff;
  background-color: #1979ca;
}

#fileTabChk:checked ~ #app #fileSection {
  display: grid;
}

#fileSection {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  padding-bottom: 2px;
  box-shadow: inset -2px -2px 0 0 #8e9caf, inset 2px 0 0 0 #8e9caf;
  grid-template-rows: auto auto 1lh;
  grid-template-areas: "fileSectionTabs fileSectionTabs" "fileOpts fileLists" "voidBottomFileSection voidBottomFileSection";
}

#fileSectionTabs {
  grid-area: fileSectionTabs;
  display: grid;
  grid-template-columns: 75px 1fr;
}

#fileSectionTabs .tab {
  place-content: center;
  display: flex;
  padding: 7px;
}

#fileSectionTab {
  color: #fff;
  background-color: #1979ca;
  box-shadow: inset -2px 2px 0 0 #8e9caf, inset 2px -2px 0 0 #8e9caf;
}

#voidTabFile {
  background-color: #f5f6f7;
  box-shadow: inset -2px 2px 0 0 #8e9caf, inset 0 -2px 0 0 #8e9caf;
}

#fileOpts {
  grid-area: fileOpts;
  padding-left: 2px;
  border-right: 2px solid #d7d7d7;
}

#fileOpts .fileOpt {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 175px;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
}

#fileOpts .fileOpt:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#saveAsBtnCont:hover .fileOpt {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#saveAsBtnCont:hover #saveAsOptsBtn, #saveAsBtnCont.extend #saveAsOptsBtn {
  background-color: #edf4fc;
  box-shadow: inset 0 -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#saveAsBtnCont.extend .fileOpt {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#saveAsBtnCont {
  width: 175px;
  display: grid;
  grid-template-columns: 1fr auto;
}

#saveAsBtnCont .fileOpt {
  width: 100%;
}

#saveAsOptsBtn {
  background-color: rgba(0, 0, 0, 0);
  padding: 7px;
  border: 0;
  display: flex;
  align-items: center;
}

#fileOpts #aboutBtn {
  border-top: 2px solid #d7d7d7;
}

#saveAsOptsBtn img {
  rotate: 270deg;
  width: 13px;
}

.fileOpt picture {
  width: 40px;
  height: 40px;
}

.fileOpt img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

#fileLists {
  grid-area: fileLists;
  width: 200px;
  height: 100%;
  padding-right: 2px;
  position: relative;
  overflow: hidden;
}

#recentPictures {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#recentPictures header, #saveAsOpts header {
  padding: 5px 8px;
  font-weight: bold;
  color: #333;
  background-color: #f6f7f8;
}

#saveAsOpts header {
  border-bottom: 2px solid #d7d7d7;
}

#recentPictures ol {
  list-style-position: inside;
  padding: 8px;
  margin: 0;
  box-shadow: inset 0 2px 0 0 #d7d7d7;
}

#saveAsOpts.visible {
  display: block;
}

#saveAsOpts {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 1px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border: 2px solid #d7d7d7;
  overflow: hidden;
}

#saveAsOptsBtns {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 1lh - 12px);
}

#saveAsOpts .saveAsOpt {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 5px;
  padding-left: 8px;
  display: grid;
  gap: 5px;
  grid-template-areas: "saveAsOptPic h3" "saveAsOptPic p";
}

#saveAsOpts .saveAsOpt picture {
  grid-area: saveAsOptPic;
}

#saveAsOpts .saveAsOpt img {
  height: 45px;
}

#saveAsOpts .saveAsOpt h3,
#saveAsOpts .saveAsOpt p {
  text-align: left;
  margin: 0;
}

#voidBottomFileSection {
  grid-area: voidBottomFileSection;
  box-shadow: inset 0 2px 0 0 #8e9caf;
}

#extendClipboardSectionInp:checked ~ #app #clipboardSection,
#extendImageSectionInp:checked ~ #app #imageSection,
#extendToolsSectionInp:checked ~ #app #toolsSection,
#extendShapesSectionInp:checked ~ #app #shapesSection,
#extendColorsSectionInp:checked ~ #app #colorsSection {
  display: grid;
}

#clipboardSection,
#imageSection,
#toolsSection,
#brushesActSection,
#brushesExtSection,
#shapesSection,
#sizesActSection,
#sizesExtSection,
#colorsSection,
#zoomSection,
#showOrHide,
#displaySection {
  background-color: #f5f6f7;
  top: 100%;
  position: absolute;
  z-index: 1;
  padding: 6px 8px 3px 8px;
  display: none;
  box-shadow: 2px 2px 2px 0 lightgray;
  gap: 5px;
  grid-template-rows: calc(3.8lh + 12px) 1lh;
}

#colorsSection {
  grid-template-rows: calc((3.8lh + 12px) * 2) auto;
}

#zoomSection, #showOrHide, #displaySection {
  box-shadow: none;
  padding: 3px 3px 0 3px;
  z-index: auto;
  display: grid;
  position: initial;
}

#showOrHide {
  padding: 3px 6px 0 6px;
}

#clipboardSection footer,
#imageSection footer,
#toolsSection footer,
#brushesActSection footer,
#brushesExtSection footer,
#shapesSection footer,
#sizesActSection footer,
#sizesExtSection footer,
#colorsSection footer,
#zoomSection footer,
#showOrHide footer,
#displaySection footer {
  text-align: center;
  padding: 0;
}

#extendClipboardSectionInp:checked ~ #app #extendClipboardSection,
#extendImageSectionInp:checked ~ #app #extendImageSection,
#extendToolsSectionInp:checked ~ #app #extendToolsSection,
#extendShapesSectionInp:checked ~ #app #extendShapesSection,
#extendColorsSectionInp:checked ~ #app #extendColorsSection {
  background-color: #c9e0f7;
}

#extendClipboardSectionInp:checked ~ #app #extendClipboardSection .iconSection,
#extendImageSectionInp:checked ~ #app #extendImageSection .iconSection,
#extendToolsSectionInp:checked ~ #app #extendToolsSection .iconSection,
#extendShapesSectionInp:checked ~ #app #extendShapesSection .iconSection,
#extendColorsSectionInp:checked ~ #app #extendColorsSection .iconSection {
  background-color: #edf4fc;
}

#extendClipboardSection,
#extendImageSection,
#extendToolsSection,
#extendShapesSection,
#extendColorsSection {
  text-align: center;
  background-color: #edf4fc;
  padding: 3px 3px 0 3px;
  display: grid;
  grid-template-rows: calc(1.8lh + 12px) 1lh 1lh 5px 1lh;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#extendClipboardSection .iconSection,
#extendImageSection .iconSection,
#extendToolsSection .iconSection,
#extendShapesSection .iconSection,
#extendColorsSection .iconSection {
  aspect-ratio: 1/1;
  height: calc(1.8lh + 6px);
  margin: auto 5px;
  padding-top: 3px;
  background-color: #f5f6f7;
  border: 2px solid #a8d2fd;
}

#extendClipboardSection .iconSection {
  margin: auto;
}

#extendClipboardSection .iconSection img,
#extendImageSection .iconSection img,
#extendToolsSection .iconSection img,
#extendShapesSection .iconSection img,
#extendColorsSection .iconSection img {
  width: 25px;
}

#extendClipboardSection .extendAction,
#extendImageSection .extendAction,
#extendToolsSection .extendAction,
#extendShapesSection .extendAction,
#extendColorsSection .extendAction {
  display: flex;
  align-items: start;
  justify-content: center;
}

#extendClipboardSection .extendAction img,
#extendImageSection .extendAction img,
#extendToolsSection .extendAction img,
#extendShapesSection .extendAction img,
#extendColorsSection .extendAction img {
  width: 0.5lh;
  margin-top: 0.2lh;
}

#clipboardSection .actionBtns {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "bigBtn smlBtn1" "bigBtn smlBtn2" "bigBtn smlBtn3";
}

#clipboardSection .bigBtn {
  grid-area: bigBtn;
  position: relative;
  display: grid;
  grid-template-rows: calc(1.8lh + 12px) 2lh;
}

#clipboardSection .bigBtn:hover.nohover .mainBtn,
#clipboardSection .bigBtn:hover.nohover .extendAction {
  box-shadow: none;
}

#clipboardSection .bigBtn .mainBtn {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  padding: 0 8px;
  display: grid;
  place-content: center;
}

#clipboardSection .bigBtn:hover .mainBtn,
#clipboardSection #clipboardExtBigInp:checked ~ .mainBtn {
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#clipboardSection .bigBtn:hover .mainBtn:hover {
  background-color: #edf4fc;
}

#clipboardSection .bigBtn:hover .mainBtn:focus {
  background-color: #c9e0f7;
}

#clipboardSection .bigBtn .mainBtn img {
  height: calc(1.8lh + 6px);
}

#clipboardSection .bigBtn .extendAction {
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  justify-content: center;
  grid-template-rows: 1lh 1lh;
}

#clipboardSection .bigBtn:hover .extendAction,
#clipboardSection #clipboardExtBigInp:checked ~ .extendAction {
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 0 0 0 #a8d2fd;
}

#clipboardSection .bigBtn:hover .extendAction:hover {
  background-color: #edf4fc;
}

#clipboardSection #clipboardExtBigInp:checked ~ .extendAction {
  background-color: #c9e0f7;
}

#clipboardSection .bigBtn .extendAction picture {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: center;
}

#clipboardSection .bigBtn .extendAction img {
  width: 0.5lh;
  margin-top: 0.2lh;
}

#clipboardSection .smlBtn {
  padding: 0 5px;
  width: fit-content;
  display: flex;
  gap: 3px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

#clipboardSection .smlBtn:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#clipboardSection .smlBtn:focus {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#clipboardSection .smlBtn picture {
  height: 1lh;
}

#clipboardSection .smlBtn img {
  height: 100%;
}

#clipboardSection #clipboardExtBigInp:checked ~ .extendOpts {
  display: grid;
}

#clipboardSection .bigBtn .extendOpts {
  position: absolute;
  background-color: #fff;
  top: 100%;
  z-index: 2;
  padding: 4px;
  display: none;
  grid-template-rows: auto auto;
  box-shadow: inset -2px 2px 0 0 #d7d7d7, inset 2px -2px 0 0 #d7d7d7;
}

#clipboardSection .bigBtn .extendOpts button:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#clipboardSection .bigBtn .extendOpts button:hover picture {
  border-right-color: rgba(0, 0, 0, 0);
}

#clipboardSection .bigBtn .extendOpts button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  text-align: left;
  justify-content: left;
  display: grid;
  grid-template-columns: auto auto;
}

#clipboardSection .bigBtn .extendOpts picture {
  padding: 4px;
  padding-right: 2px;
  display: flex;
  border-right: 2px solid #d7d7d7;
}

#clipboardSection .bigBtn .extendOpts img {
  height: 1lh;
  object-fit: contain;
}

#clipboardSection .bigBtn .extendOpts span {
  padding: 0;
  padding-left: 8px;
  padding-right: 18px;
  text-align: left;
  align-content: center;
  white-space: nowrap;
}

#imageSection .actionBtns {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "bigBtn smlBtn1" "bigBtn smlBtn2" "bigBtn smlBtn3";
}

#imageSection .bigBtn {
  grid-area: bigBtn;
  position: relative;
  display: grid;
  grid-template-rows: calc(1.8lh + 12px) 2lh;
}

#imageSection .bigBtn:hover.nohover .mainBtn,
#imageSection .bigBtn:hover.nohover .extendAction {
  box-shadow: none;
}

#imageSection .bigBtn .mainBtn {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 8px;
  display: grid;
  place-content: center;
}

#imageSection .bigBtn:hover .mainBtn,
#imageSection #imageExtBigInp:checked ~ .mainBtn {
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#imageSection .bigBtn:hover .mainBtn:hover {
  background-color: #edf4fc;
}

#imageSection .bigBtn:hover .mainBtn:focus {
  background-color: #c9e0f7;
}

#imageSection .bigBtn .mainBtn img {
  height: calc(1.8lh + 6px);
}

#imageSection .bigBtn .extendAction {
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  justify-content: center;
  grid-template-rows: 1lh 1lh;
}

#imageSection .bigBtn:hover .extendAction,
#imageSection #imageExtBigInp:checked ~ .extendAction {
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 0 0 0 #a8d2fd;
}

#imageSection .bigBtn:hover .extendAction:hover {
  background-color: #edf4fc;
}

#imageSection #imageExtBigInp:checked ~ .extendAction {
  background-color: #c9e0f7;
}

#imageSection .bigBtn .extendAction picture {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: center;
}

#imageSection .bigBtn .extendAction img {
  width: 0.5lh;
  margin-top: 0.2lh;
}

#imageSection .smlBtn {
  padding: 0 5px;
  width: fit-content;
  display: flex;
  gap: 3px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

#imageSection .smlBtn:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#imageSection .smlBtn:focus {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#imageSection .smlBtn picture {
  height: 1lh;
}

#imageSection .smlBtn img {
  height: 100%;
}

#imageSection .smlBtn .extendAction {
  display: flex;
  align-items: center;
  padding-left: 3px;
}

#imageSection .smlBtn .extendAction img {
  width: 0.5lh;
  height: auto;
}

#imageSection #imageExtBigInp:checked ~ .extendOpts {
  display: grid;
}

#imageSection .bigBtn .extendOpts {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  top: 100%;
  padding: 4px;
  display: none;
  grid-template-rows: auto auto;
  box-shadow: inset -2px 2px 0 0 #d7d7d7, inset 2px -2px 0 0 #d7d7d7;
}

#imageSection .bigBtn .extendOpts button:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#imageSection .bigBtn .extendOpts button:hover picture {
  border-right-color: rgba(0, 0, 0, 0);
}

#imageSection .bigBtn .extendOpts button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  text-align: left;
  justify-content: left;
  display: grid;
  grid-template-columns: auto auto;
}

#imageSection .bigBtn .extendOpts picture {
  padding: 4px;
  padding-right: 2px;
  display: flex;
  border-right: 2px solid #d7d7d7;
}

#imageSection .bigBtn .extendOpts img {
  height: 1lh;
  object-fit: contain;
}

#imageSection .bigBtn .extendOpts span {
  padding: 0;
  padding-left: 8px;
  padding-right: 18px;
  text-align: left;
  align-content: center;
  white-space: nowrap;
}

#imageSection .smlExtBtnCont {
  position: relative;
  display: flex;
}

#imageSection .smlExtBtnCont .smlBtn {
  height: 100%;
}

#imageSection #extendRotateInp:checked ~ .smlBtn {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#imageSection .smlExtBtnCont .extendOpts {
  position: absolute;
  z-index: 2;
  top: 100%;
  background-color: #fff;
  padding: 4px;
  display: none;
  grid-template-rows: auto auto;
  box-shadow: inset -2px 2px 0 0 #d7d7d7, inset 2px -2px 0 0 #d7d7d7;
}

#extendRotateInp:checked ~ .extendOpts {
  display: block;
}

#imageSection .smlExtBtnCont .extendOpts button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  width: 100%;
  text-align: left;
  justify-content: left;
  display: grid;
  grid-template-columns: auto auto;
}

#imageSection .smlExtBtnCont .extendOpts button:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#imageSection .smlExtBtnCont .extendOpts button:hover picture {
  border-right-color: rgba(0, 0, 0, 0);
}

#imageSection .smlExtBtnCont .extendOpts picture {
  padding: 4px;
  padding-right: 2px;
  display: flex;
  border-right: 2px solid #d7d7d7;
}

#imageSection .smlExtBtnCont .extendOpts img {
  height: 1lh;
  object-fit: contain;
}

#imageSection .smlExtBtnCont .extendOpts span {
  padding: 0;
  padding-left: 8px;
  padding-right: 18px;
  text-align: left;
  align-content: center;
  white-space: nowrap;
}

#toolsSection .actionBtns {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas: ". . ." "drawBtn fillBtn txtBtn" "eraserBtn pickerBtn zoomBtn" ". . .";
}

#toolsSection .actionBtns button {
  height: 100%;
  padding: 0;
  display: grid;
  align-items: center;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0);
}

#toolsSection .actionBtns button:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#toolsSection .actionBtns button:focus {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#drawBtn {
  grid-area: drawBtn;
}

#fillBtn {
  grid-area: fillBtn;
}

#txtBtn {
  grid-area: txtBtn;
}

#eraserBtn {
  grid-area: eraserBtn;
}

#pickerBtn {
  grid-area: pickerBtn;
}

#zoomBtn {
  grid-area: zoomBtn;
}

#toolsSection .actionBtns img {
  height: 1lh;
  display: inline-block;
  margin: auto;
}

#brushesExtSection {
  position: static;
  display: grid;
  padding: 3px 3px 0 3px;
  box-shadow: none;
}

#brushesExtSection button {
  border: none;
}

#brushesActSection > div,
#brushesExtSection > div {
  position: relative;
  display: grid;
  grid-template-rows: calc(1.8lh + 12px) 2lh;
}

#brushesActSection > div:hover .mainBtn,
#brushesActSection #brushesExtInp:checked ~ .mainBtn,
#brushesExtSection > div:hover .mainBtn,
#brushesExtInpExt:checked ~ #app #brushesExtSection .mainBtn {
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#brushesActSection > div:hover .extendAction,
#brushesActSection #brushesExtInp:checked ~ .extendAction,
#brushesExtSection > div:hover .extendAction,
#brushesExtInpExt:checked ~ #app #brushesExtSection .extendAction {
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 0 0 0 #a8d2fd;
}

#brushesActSection .mainBtn,
#brushesExtSection .mainBtn {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
  display: grid;
  place-content: center;
}

#brushesActSection .mainBtn:hover,
#brushesActSection .extendAction:hover,
#brushesExtSection .mainBtn:hover,
#brushesExtSection .extendAction:hover {
  background-color: #edf4fc;
}

#brushesActSection #brushesExtInp:checked ~ .mainBtn,
#brushesExtInpExt:checked ~ #app #brushesExtSection .mainBtn {
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#brushesActSection #brushesExtInp:checked ~ .extendAction,
#brushesExtInpExt:checked ~ #app #brushesExtSection .extendAction {
  background-color: #c9e0f7;
}

#brushesActSection #brushesExtInp:checked ~ .extendOpts,
#brushesExtInpExt:checked ~ #app #extendBrushesOpts {
  display: grid;
}

#brushesActSection .extendOpts,
#extendBrushesOpts {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  top: 100%;
  padding: 4px;
  display: none;
  grid-template-columns: repeat(4, auto);
  box-shadow: inset -2px 2px 0 0 #d7d7d7, inset 2px -2px 0 0 #d7d7d7;
}

#extendBrushesOpts {
  top: calc(100% - 12px - 1lh);
}

#brushesActSection .extendOpts button:hover,
#extendBrushesOpts button:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#brushesActSection .extendOpts button,
#extendBrushesOpts button {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  display: flex;
  aspect-ratio: 1/1;
}

#brushesActSection .extendOpts img,
#extendBrushesOpts img {
  height: calc(1.8lh + 6px);
}

#brushesActSection .mainBtn img,
#brushesExtSection .mainBtn img {
  height: calc(1.8lh + 6px);
}

#brushesActSection .extendAction,
#brushesExtSection .extendAction {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 5px;
  display: grid;
  justify-content: center;
  grid-template-rows: 1lh 1lh;
}

#brushesActSection .extendAction picture,
#brushesExtSection .extendAction picture {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: center;
}

#brushesActSection .extendAction img,
#brushesExtSection .extendAction img {
  width: 0.5lh;
  margin-top: 0.2lh;
}

#shapesSection .actionBtns {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: auto auto;
  grid-template-areas: "shapesCont smlBtn1" "shapesCont smlBtn2" "shapesCont smlBtn3";
}

#shapesCont {
  grid-area: shapesCont;
  background-color: #fff;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, auto);
  box-shadow: inset 2px -2px 0 0 #d7d7d7, inset -2px 2px 0 0 #d7d7d7;
}

#shapesCont button {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  padding: 0;
  aspect-ratio: 1/1;
}

#shapesCont img {
  height: 1lh;
  width: 1lh;
  margin: auto;
}

#shapesCont button:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#shapesCont button:focus {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#shapesSection .smlBtn {
  padding: 0 5px;
  width: fit-content;
  display: flex;
  gap: 3px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

#shapesSection .smlBtn:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#shapesSection .smlBtn:focus {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#shapesSection .smlBtn picture {
  height: 1lh;
}

#shapesSection .smlBtn img {
  height: 100%;
}

#shapesSection .smlBtn .extendAction {
  display: flex;
  align-items: center;
  padding-left: 3px;
}

#shapesSection .smlBtn .extendAction img {
  width: 0.5lh;
  height: auto;
}

#shapesSection .smlExtBtnCont {
  position: relative;
  display: flex;
}

#shapesSection .smlExtBtnCont .smlBtn {
  height: 100%;
}

#shapesSection #extendOutlineInp:checked ~ .smlBtn,
#shapesSection #extendFillInp:checked ~ .smlBtn {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#shapesSection .smlExtBtnCont .extendOpts {
  position: absolute;
  z-index: 2;
  top: 100%;
  background-color: #fff;
  padding: 4px;
  display: none;
  grid-template-rows: auto auto;
  box-shadow: inset -2px 2px 0 0 #d7d7d7, inset 2px -2px 0 0 #d7d7d7;
}

#extendOutlineInp:checked ~ .extendOpts,
#extendFillInp:checked ~ .extendOpts {
  display: block;
}

#shapesSection .smlExtBtnCont .extendOpts button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  width: 100%;
  text-align: left;
  justify-content: left;
  display: grid;
  grid-template-columns: auto auto;
}

#shapesSection .smlExtBtnCont .extendOpts button:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#shapesSection .smlExtBtnCont .extendOpts button:hover picture {
  border-right-color: rgba(0, 0, 0, 0);
}

#shapesSection .smlExtBtnCont .extendOpts picture {
  padding: 4px;
  padding-right: 2px;
  display: flex;
  border-right: 2px solid #d7d7d7;
}

#shapesSection .smlExtBtnCont .extendOpts img {
  height: 1lh;
  object-fit: contain;
}

#shapesSection .smlExtBtnCont .extendOpts span {
  padding: 0;
  padding-left: 8px;
  padding-right: 18px;
  text-align: left;
  align-content: center;
  white-space: nowrap;
}

#sizesExtSection {
  position: static;
  display: grid;
  padding: 3px 3px 0 3px;
  box-shadow: none;
}

#sizesActSection label,
#sizesExtSection label {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  padding: 0;
  grid-template-rows: calc(1.8lh + 12px) 1lh 1lh;
}

#sizesActSection label:hover,
#sizesExtSection label:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#sizesExtInp:checked ~ #app #sizesActSection label,
#sizesExtInpExt:checked ~ #app #sizesExtSection label {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#sizesActSection .iconSection,
#sizesExtSection .iconSection {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0 8px;
  display: grid;
  place-content: center;
}

#sizesActSection .iconSection img,
#sizesExtSection .iconSection img {
  height: calc(1.8lh + 6px);
}

#sizesActSection span,
#sizesExtSection span {
  margin: 0 auto;
}

#sizesActSection .extendAction,
#sizesExtSection .extendAction {
  display: flex;
  align-items: start;
  justify-content: center;
}

#sizesActSection .extendAction img,
#sizesExtSection .extendAction img {
  width: 0.5lh;
  margin-top: 0.2lh;
}

#extendSizesOpts,
#sizesActSection .extendOpts {
  position: absolute;
  z-index: 2;
  top: 100%;
  display: none;
  height: auto;
  padding: 4px;
  background-color: #fff;
  box-shadow: inset -2px 2px 0 0 #d7d7d7, inset 2px -2px 0 0 #d7d7d7;
}

#extendSizesOpts {
  top: calc(100% - 12px - 1lh);
}

#sizesExtInp:checked ~ #app #sizesActSection .extendOpts {
  display: flex;
}

#sizesExtInpExt:checked ~ #app #extendSizesOpts {
  display: flex;
}

#extendSizesOpts button,
#sizesActSection .extendOpts button {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  width: 150px;
  height: 40px;
  display: grid;
  align-items: center;
}

#extendSizesOpts button:hover,
#sizesActSection .extendOpts button:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#extendSizesOpts span,
#sizesActSection .extendOpts span {
  height: var(--lineSize);
  width: 100%;
  background-color: #000;
}

#colorsSection .actionBtns {
  display: grid;
  gap: 3px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: calc(1.8lh + 12px + 2lh) calc(1.8lh + 12px + 2lh);
  grid-template-areas: "color1 color2 editColors ." "colorsCont colorsCont colorsCont colorsCont";
}

#colorsSection .bigBtn {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-rows: calc(1.8lh + 12px) 2lh;
}

#colorsSection .bigBtn:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#colorsSection .bigBtn:focus {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#colorsSection .bigBtn span {
  text-align: center;
  padding: 0 8px;
}

#colorsSection .bigBtn .colorCont {
  place-content: center;
  aspect-ratio: 1/1;
  margin: auto;
  padding: 3px;
  display: flex;
  box-shadow: inset -1px 1px 0 0 #808080, inset 1px -1px 0 0 #808080;
}

#colorsSection .bigBtn .colorBg {
  background-color: var(--currentColor);
  width: 100%;
  height: 100%;
}

#colorsSection .iconSection {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0 8px;
  display: grid;
  place-content: center;
}

#colorsSection .iconSection img {
  height: calc(1.8lh + 6px);
}

#color1Btn .colorCont {
  height: calc(1.8lh + 6px);
}

#color1Inp:checked ~ #color1Btn {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#color2Inp:checked ~ #color2Btn {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#color2Btn .colorCont {
  height: calc(1.8lh - 5px);
}

#colorsCont {
  grid-area: colorsCont;
  height: 100%;
  display: grid;
  gap: 2px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(10, 1fr);
}

#colorsCont .colorCont {
  border: 0;
  aspect-ratio: 1/1;
  height: 100%;
  padding: 3px;
  box-shadow: inset -1px 1px 0 0 #808080, inset 1px -1px 0 0 #808080;
}

#colorsCont .colorBg {
  background-color: var(--color);
  width: 100%;
  height: 100%;
}

#colorPickerCont {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  display: none;
  justify-content: center;
  padding-top: 100px;
  grid-template-columns: auto;
}

#colorPicker {
  border: 2px solid #d7d7d7;
  height: fit-content;
}

#homeSections {
  display: none;
  gap: 5px;
}

#homeSections button {
  border: 0;
}

#extendSections .sectionSeparator,
#actionSections .sectionSeparator {
  height: calc(4.8lh + 17px);
  padding: 0 1px;
  display: grid;
  background-color: #d7d7d7;
}

#actionSections .sectionSeparator {
  display: none;
}

#zoomSection .actionBtns {
  display: grid;
  grid-template-columns: auto auto auto;
}

#zoomSection button {
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-rows: calc(1.8lh + 12px) 2lh;
}

#zoomSection button:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#zoomSection button:focus {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#zoomSection span {
  text-align: center;
  padding: 0 6px;
}

#zoomSection picture {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0 3px;
  display: grid;
  place-content: center;
}

#zoomSection img {
  height: calc(1.8lh + 6px);
}

#showOrHide .actionBtns {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#showOrHide .chkCont {
  display: flex;
  gap: 3px;
  align-items: center;
}

#rulersChk:checked ~ #app [for=rulersChk] .chkbox::after,
#gridLinesChk:checked ~ #app [for=gridLinesChk] .chkbox::after,
#statusBarChk:checked ~ #app [for=statusBarChk] .chkbox::after {
  content: "✓";
}

#showOrHide .chkbox::after {
  place-content: center;
  content: "";
  background-color: #fff;
  height: 1lh;
  width: 1lh;
  display: grid;
  box-shadow: inset 1px -1px 0 0 #808080, inset -1px 1px 0 0 #808080;
}

#displaySection .actionBtns {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#displaySection label {
  align-items: center;
  display: grid;
  gap: 3px;
  grid-template-columns: auto auto;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 5px;
}

#displaySection label:hover {
  background-color: #edf4fc;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#displaySection label:focus {
  background-color: #c9e0f7;
  box-shadow: inset 2px -2px 0 0 #a8d2fd, inset -2px 2px 0 0 #a8d2fd;
}

#displaySection picture {
  height: 1lh;
}

#displaySection img {
  height: 100%;
}

#displaySection br {
  display: none;
}

#fullscreenChk:checked ~ #app #fullscreenCont {
  display: flex;
}

#fullscreenCont {
  position: absolute;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#viewSections {
  display: none;
  width: 100%;
}

@media (width > 420px) {
  #viewSections {
    gap: 5px;
  }
  #zoomSection picture {
    padding: 0 5px;
  }
}
@media (width > 480px) {
  #displaySection .actionBtns {
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
  }
  #displaySection label {
    align-items: start;
    padding: 0;
    gap: 0;
    grid-template-rows: calc(1.8lh + 12px) 2lh;
    grid-template-columns: 1fr;
  }
  #displaySection span {
    text-align: center;
    padding: 0 6px;
  }
  #displaySection br {
    display: initial;
  }
  #displaySection picture {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: auto;
    padding: 0 3px;
    margin: auto 0;
    display: grid;
    place-content: center;
  }
  #displaySection img {
    height: calc(1.8lh + 6px);
  }
  #scrollRightBtn {
    display: block;
  }
}
@media (width > 890px) {
  #appMain #actions {
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: "extendSections actionSections";
  }
  #appMain #actionSections {
    display: flex;
    width: 100%;
    height: auto;
    padding: 5px;
    padding-bottom: 7px;
  }
  #colorsSection, #sizesActSection {
    position: initial;
    padding: 3px 3px 0 3px;
    box-shadow: none;
    display: grid;
    z-index: auto;
  }
  #colorsSection .actionBtns .smlBtn span {
    display: none;
  }
  #extendColorsSection, #sizesExtSection, #sizesExtSection + .sectionSeparator {
    display: none;
  }
  #extendBrushesOpts {
    top: calc(100% - (1lh + 7px));
  }
  #extendSizesOpts + .sectionSeparator {
    display: grid;
  }
}
@media (width > 1050px) {
  #shapesSection, #brushesActSection {
    position: initial;
    padding: 3px 3px 0 3px;
    box-shadow: none;
    display: grid;
    z-index: auto;
  }
  #shapesSection .actionBtns .smlBtn span {
    display: none;
  }
  #extendShapesSection, #brushesExtSection, #brushesExtSection + .sectionSeparator {
    display: none;
  }
  #shapesSection + .sectionSeparator,
  #extendBrushesOpts + .sectionSeparator {
    display: grid;
  }
}
@media (width > 1100px) {
  #shapesSection .actionBtns .smlBtn span {
    display: initial;
  }
}
@media (width > 1140px) {
  #toolsSection {
    position: initial;
    padding: 3px 3px 0 3px;
    box-shadow: none;
    display: grid;
    z-index: auto;
  }
  #extendToolsSection {
    display: none;
  }
  #toolsSection + .sectionSeparator {
    display: grid;
  }
}
@media (width > 1240px) {
  #imageSection {
    position: initial;
    padding: 3px 3px 0 3px;
    box-shadow: none;
    display: grid;
    z-index: auto;
  }
  #imageSection .actionBtns .smlBtn span {
    display: none;
  }
  #extendImageSection {
    display: none;
  }
  #imageSection + .sectionSeparator {
    display: grid;
  }
}
@media (width > 1200px) {
  #imageSection .actionBtns .smlBtn span {
    display: initial;
  }
}
@media (width > 1270px) {
  #clipboardSection {
    position: initial;
    padding: 3px 3px 0 3px;
    box-shadow: none;
    display: grid;
    z-index: auto;
  }
  #clipboardSection .actionBtns .smlBtn span {
    display: none;
  }
  #extendSections {
    display: none;
  }
  #clipboardSection + .sectionSeparator {
    display: grid;
  }
}
@media (width > 1300px) {
  #clipboardSection .actionBtns .smlBtn span {
    display: initial;
  }
  #appMain #actions {
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "actionSections";
  }
  #appMain #extendSections {
    display: none;
  }
  #app #appMain #actionSections {
    display: flex;
    width: 100%;
    height: auto;
    padding: 5px;
    padding-bottom: 7px;
  }
}
#workspace {
  grid-area: workspace;
  color: hsl(214.5, 17.1%, 40%);
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: "rulerUnion rulerX" "rulerY drawContainer";
}

#rulersChk ~ #app #rulerUnion,
#rulersChk ~ #app #rulerX,
#rulersChk ~ #app #rulerY {
  display: none;
}

#rulersChk:checked ~ #app #rulerUnion,
#rulersChk:checked ~ #app #rulerX,
#rulersChk:checked ~ #app #rulerY {
  background-color: #f1f3f8;
  display: flex;
}

#rulerX {
  padding-left: 5px;
  border-bottom: 1px solid #8e9caf;
}

#rulerX .rulerSection {
  width: calc(var(--ruler-scale) - 1px);
}

#rulerX .rulerLines {
  width: 100%;
  height: 100%;
  display: flex;
}

#rulerX .rulerLines span {
  margin-left: calc((var(--ruler-scale) - 9px) / 10);
  width: 1px;
  height: 5px;
  background-color: #8e9caf;
}

#rulerX .rulerSeparator {
  height: 100%;
  width: 1px;
  background-color: #8e9caf;
}

#rulerX .rulerNumber {
  padding: 0 4px;
  height: 1lh;
}

#rulerY {
  border-left: 1px solid #8e9caf;
  padding-bottom: 5px;
  text-align: right;
  flex-direction: row-reverse;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

#rulerY .rulerSection {
  height: calc(var(--ruler-scale) - 1px);
}

#rulerY .rulerLines {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#rulerY .rulerLines span {
  margin-bottom: calc((var(--ruler-scale) - 9px) / 10);
  width: 5px;
  height: 1px;
  background-color: #8e9caf;
}

#rulerY .rulerSeparator {
  height: 1px;
  width: 100%;
  background-color: #8e9caf;
}

#rulerY .rulerNumber {
  padding: 4px 0;
  width: 1lh;
}

.rulerSection {
  display: grid;
  grid-template-rows: 1lh 5px;
}

#drawContainer {
  grid-area: drawContainer;
  background-color: #dae3f0;
  padding: 5px;
  display: grid;
}

#canvas {
  image-rendering: pixelated;
  display: inline-block;
  background-color: #fff;
  box-shadow: 2px 2px 2px 0 lightgray;
}

#appMain {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "tabs" "actions" "workspace";
}

#actions {
  grid-area: actions;
  width: 100%;
  max-width: 100%;
  display: grid;
  position: relative;
  background-color: #f5f6f7;
  grid-template-rows: auto 0;
  grid-template-areas: "extendSections" "actionSections";
}

#actionSections {
  grid-area: actionSections;
  display: flex;
  height: 0;
  box-shadow: inset 0 -2px 0 0 #d7d7d7;
}

#extendSections {
  grid-area: extendSections;
  padding: 5px;
  padding-bottom: 7px;
  width: 100%;
  overflow: hidden;
  background-color: #f5f6f7;
  box-shadow: inset 0 -2px 0 0 #d7d7d7;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "scrollLeftBtn scrollCont scrollRightBtn";
}

#scrollCont {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  display: flex;
  gap: 5px;
}

#scrollCont::-webkit-scrollbar {
  display: none;
}

#scrollLeftBtn {
  padding: 4px;
  background-color: #edf4fc;
  border: 2px solid #95c2ef;
  display: none;
  width: min-content;
}

#scrollRightBtn {
  width: min-content;
  padding: 4px;
  background-color: #edf4fc;
  border: 2px solid #95c2ef;
  display: none;
}

#scrollLeftBtn img {
  width: 0.5lh;
  transform: rotate(90deg);
}

#scrollRightBtn img {
  width: 0.5lh;
  transform: rotate(-90deg);
}

#statusBarChk:checked ~ #app #appFooter {
  display: grid;
}

#appFooter {
  width: 100%;
  border-top: 2px solid #d7d7d7;
  display: none;
  padding: 5px;
  grid-template-columns: auto auto auto auto auto auto auto auto 1fr auto auto;
  grid-template-areas: "pointer sep1 selection sep2 page sep3 file sep4 space sep5 zoom";
}

#appFooter article {
  gap: 5px;
  width: 150px;
  height: 1lh;
  display: none;
  align-items: center;
  align-content: center;
}

#appFooter picture {
  height: 1lh;
  display: inline-block;
}

#appFooter img {
  width: 1lh;
}

#appFooter span {
  padding: 0;
}

#appFooter .appFooterSeparator {
  height: 1lh;
  width: 2px;
  background-color: #d7d7d7;
  display: none;
  margin: 0 10px;
}

#appFooter > :nth-last-child(2) {
  grid-area: sep5;
  display: block;
}

#pointerXY {
  grid-area: pointer;
}

#selectionWH {
  grid-area: selection;
}

#pageSize {
  grid-area: page;
}

#fileSize {
  grid-area: file;
}

#appFooterSpace {
  grid-area: space;
  width: 100%;
}

#appFooter #statusZoom {
  grid-area: zoom;
  align-items: center;
  display: flex;
  gap: 8px;
  width: auto;
}

#zoomBar {
  -webkit-appearance: none;
  appearance: none;
  display: initial;
  background: #e7eaea;
  padding: 2px;
  height: 4px;
  box-shadow: inset 2px 2px 0 0 #d7d7d7, inset -2px -2px 0 0 #d7d7d7;
}

#zoomBar::-moz-range-thumb {
  height: 1lh;
  aspect-ratio: 20/35;
  border: 0;
  background: no-repeat url("../../assets/icons/zoomBarBtn.png");
  background-size: auto 1lh;
  cursor: pointer;
}

#zoomBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1lh;
  aspect-ratio: 20/35;
  border: 0;
  background: no-repeat url("../../assets/icons/zoomBarBtn.png");
  background-size: auto 1lh;
  cursor: pointer;
}

#statusZoom img {
  width: 1lh;
  height: 1lh;
}

@media (width > 450px) {
  #appFooter #pointerXY {
    display: flex;
  }
  #appFooter #pointerXY + .appFooterSeparator {
    display: block;
  }
}
@media (width > 615px) {
  #appFooter #selectionWH {
    display: flex;
  }
  #appFooter #selectionWH + .appFooterSeparator {
    display: block;
  }
}
@media (width > 790px) {
  #appFooter #pageSize {
    display: flex;
  }
  #appFooter #pageSize + .appFooterSeparator {
    display: block;
  }
}
@media (width > 960px) {
  #appFooter #fileSize {
    display: flex;
  }
  #appFooter #fileSize + .appFooterSeparator {
    display: block;
  }
}
@media (width > 530px) {
  #colorsSection {
    grid-template-rows: calc(3.8lh + 12px) auto;
  }
  #colorsSection .actionBtns {
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "color1 color2 colorsCont editColors";
  }
  #fileOpts .fileOpt {
    width: 225px;
  }
  #saveAsBtnCont {
    width: 225px;
  }
  #saveAsBtnCont .fileOpt {
    width: 100%;
  }
  #fileLists {
    width: 300px;
  }
}
@media (width > 750px) {
  #fileOpts .fileOpt {
    width: 260px;
  }
  #saveAsBtnCont {
    width: 260px;
  }
  #saveAsBtnCont .fileOpt {
    width: 100%;
  }
  #fileLists {
    width: 450px;
  }
  #saveAsOpts .saveAsOpt {
    padding-right: 20px;
  }
}
@font-face {
  font-family: ArialExtern;
  src: url("./assets/Arial.woff2");
}
@font-face {
  font-family: SegoeExtern;
  src: url("./assets/SegoeUI.woff2");
}
body {
  margin: 0;
}

body * {
  box-sizing: border-box;
  font-size: 14px;
  font-family: SegoeExtern, ArialExtern, Arial, Sans-Serif;
  color: #333;
}

[disabled] {
  pointer-events: none;
}

[disabled] img {
  opacity: 0.5;
}

body [disabled] span, body [disabled] {
  color: rgba(51, 51, 51, 0.5333333333);
}

label, button {
  user-select: none;
}

#app {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*# sourceMappingURL=style.css.map */
