/* EXTEND SECTION */

#extendColorsSectionInp:checked ~ #app #extendColorsSection {
  background-color: #c9e0f7;
}

#extendColorsSectionInp:checked ~ #app #extendColorsSection .iconSection {
  background-color: #edf4fc;
}

#extendColorsSection {
  text-align: center;
  justify-content: center;
  background-color: #edf4fc;
  padding: 8px 3px 0 3px;
  display: grid;
  grid-template-rows: calc(1.8lh + 7px) 1lh 0.8lh 1lh;
  box-shadow: 
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#extendColorsSection .iconSection {
  aspect-ratio: 1 / 1;
  width: 45px;
  margin: 0 5px;
  text-align: center;
  padding: 5px;
  background-color: #f5f6f7;
  border: 2px solid #a8d2fd;
}

#extendColorsSection .iconSection img {
  width: 25px;
}

#extendColorsSection .extendAction {
  display: flex;
  align-items: start;
  justify-content: center;
}

#extendColorsSection .extendAction img {
  width: 0.5lh;
  margin-top: 0.2lh;
}


/* SECTION */

#extendColorsSectionInp:checked ~ #app #colorsSection {
  display: grid;
}

#colorsSection {
  background-color: #f5f6f7;
  top: 100%;
  position: absolute;
  padding: 6px 8px 3px 8px;
  display: none;
  box-shadow: 2px 2px 2px 0 lightgray;
  gap: 5px;
  grid-template-rows: calc((3.8lh + 12px) * 2) auto;
}

#colorsSection footer {
  text-align: center;
  padding: 0;
}

#colorsSection .actionBtns {
  display: grid;
  gap: 3px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: calc(1.8lh + 12px + 2lh) calc(1.8lh + 12px + 2lh);
  grid-template-areas: 
    'color1 color2 editColors .'
    'colorsCont colorsCont colorsCont colorsCont';
}

#colorsSection .bigBtn {
  padding: 0;
  background-color: #0000;
  display: grid;
  grid-template-rows: calc(1.8lh + 12px) 2lh;
}

#colorsSection .bigBtn:hover {
  background-color: #edf4fc;
  box-shadow:
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#colorsSection .bigBtn:focus {
  background-color: #c9e0f7;
  box-shadow:
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#colorsSection .bigBtn span {
  text-align: center;
  padding: 0 8px;
}

#colorsSection .bigBtn .colorCont {
  place-content: center;
  aspect-ratio: 1 / 1;
  margin: auto;
  padding: 4px;
  display: flex;
  box-shadow:
    inset -2px 2px 0 0 #808080,
    inset 2px -2px 0 0 #808080
}

#colorsSection .bigBtn .colorBg {
  background-color: var(--currentColor);
  width: 100%;
  height: 100%;
}

#colorsSection .iconSection {
  background-color: #0000;
  width: 100%;
  padding: 0 8px;
  display: grid;
  place-content: center;
}

#colorsSection .iconSection img {
  height: calc(1.8lh + 6px);
}

#color1Btn .colorCont {
  height: calc(1.8lh + 6px);
}

#color1Inp:checked ~ #color1Btn {
  background-color: #c9e0f7;
  box-shadow: 
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#color2Inp:checked ~ #color2Btn {
  background-color: #c9e0f7;
  box-shadow: 
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#color2Btn .colorCont {
  height: calc(1.8lh - 5px);
}

#colorsCont {
  grid-area: colorsCont;
  height: 100%;
  display: grid;
  gap: 2px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(10, auto);
}

#colorsCont .colorCont {
  border: 0;
  aspect-ratio: 1 / 1;
  padding: 4px;
  box-shadow:
    inset -2px 2px 0 0 #808080,
    inset 2px -2px 0 0 #808080
}

#colorsCont .colorBg {
  background-color: var(--color);
  width: 100%;
  height: 100%;
}