#colorsSection .actionBtns {
  display: grid;
  gap: 3px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: calc(1.8lh + 12px + 2lh) calc(1.8lh + 12px + 2lh);
  grid-template-areas: 
    'color1 color2 editColors .'
    'colorsCont colorsCont colorsCont colorsCont';
}

#colorsSection .bigBtn {
  padding: 0;
  background-color: #0000;
  display: grid;
  grid-template-rows: calc(1.8lh + 12px) 2lh;
}

#colorsSection .bigBtn:hover {
  background-color: #edf4fc;
  box-shadow:
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#colorsSection .bigBtn:focus {
  background-color: #c9e0f7;
  box-shadow:
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#colorsSection .bigBtn span {
  text-align: center;
  padding: 0 8px;
}

#colorsSection .bigBtn .colorCont {
  place-content: center;
  aspect-ratio: 1 / 1;
  margin: auto;
  padding: 3px;
  display: flex;
  box-shadow:
    inset -1px 1px 0 0 #808080,
    inset 1px -1px 0 0 #808080
}

#colorsSection .bigBtn .colorBg {
  background-color: var(--currentColor);
  width: 100%;
  height: 100%;
}

#colorsSection .iconSection {
  background-color: #0000;
  width: 100%;
  padding: 0 8px;
  display: grid;
  place-content: center;
}

#colorsSection .iconSection img {
  height: calc(1.8lh + 6px);
}

#color1Btn .colorCont {
  height: calc(1.8lh + 6px);
}

#color1Inp:checked ~ #color1Btn {
  background-color: #c9e0f7;
  box-shadow: 
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#color2Inp:checked ~ #color2Btn {
  background-color: #c9e0f7;
  box-shadow: 
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#color2Btn .colorCont {
  height: calc(1.8lh - 5px);
}

#colorsCont {
  grid-area: colorsCont;
  height: 100%;
  display: grid;
  gap: 2px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(10, 1fr);
}

#colorsCont .colorCont {
  border: 0;
  aspect-ratio: 1 / 1;
  height: 100%;
  padding: 3px;
  box-shadow:
    inset -1px 1px 0 0 #808080,
    inset 1px -1px 0 0 #808080
}

#colorsCont .colorBg {
  background-color: var(--color);
  width: 100%;
  height: 100%;
}