#colorPickerCont {
  background-color: #0003;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  display: none;
  justify-content: center;
  padding-top: 100px;
  grid-template-columns: auto;
}

#colorPicker {
  border: 2px solid #d7d7d7;
  height: fit-content
}