#toolsSection .actionBtns {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas: 
    '. . .'
    'drawBtn fillBtn txtBtn'
    'eraserBtn pickerBtn zoomBtn'
    '. . .';
}

#toolsSection .actionBtns button {
  height: 100%;
  padding: 0;
  display: grid;
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: #0000;
}

#toolsSection .actionBtns button:hover {
  background-color: #edf4fc;
  box-shadow: 
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#toolsSection .actionBtns button:focus {
  background-color: #c9e0f7;
  box-shadow: 
    inset 2px -2px 0 0 #a8d2fd,
    inset -2px 2px 0 0 #a8d2fd
}

#drawBtn {
  grid-area: drawBtn;
}

#fillBtn {
  grid-area: fillBtn;
}

#txtBtn {
  grid-area: txtBtn;
}

#eraserBtn {
  grid-area: eraserBtn;
}

#pickerBtn {
  grid-area: pickerBtn;
}

#zoomBtn {
  grid-area: zoomBtn;
}

#toolsSection .actionBtns img {
  height: 1lh;
  display: inline-block;
  margin: auto;
}