@use "./appMain/tabs.css";
@use "./appMain/fileTab.css";
@use "./appMain/actionSections.css";
@use "./appMain/homeTab.scss";
@use "./appMain/viewTab.scss";
@use "./appMain/mqActions.css";
@use "./appMain/workspace.css";

#appMain {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'tabs'
    'actions'
    'workspace';
}

#actions {
  grid-area: actions;
  width: 100%;
  max-width: 100%;
  display: grid;
  position: relative;
  background-color: #f5f6f7;
  grid-template-rows: auto 0;
  grid-template-areas: 'extendSections' 'actionSections';
}

#actionSections {
  grid-area: actionSections;
  display: flex;
  height: 0;
  box-shadow: inset 0 -2px 0 0 #d7d7d7;
}

#extendSections {
  grid-area: extendSections;
  padding: 5px;
  padding-bottom: 7px;
  width: 100%;
  overflow: hidden;
  background-color: #f5f6f7;
  box-shadow: inset 0 -2px 0 0 #d7d7d7;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'scrollLeftBtn scrollCont scrollRightBtn';
}

#scrollCont {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  display: flex;
  gap: 5px;
}

#scrollCont::-webkit-scrollbar {
  display: none;
}

#scrollLeftBtn {
  padding: 4px;
  background-color: #edf4fc;
  border: 2px solid #95c2ef;
  display: none;
  width: min-content;
}

#scrollRightBtn {
  width: min-content;
  padding: 4px;
  background-color: #edf4fc;
  border: 2px solid #95c2ef;
  display: none;
}

#scrollLeftBtn img {
  width: 0.5lh;
  transform: rotate(90deg);
}

#scrollRightBtn img {
  width: 0.5lh;
  transform: rotate(-90deg);
}

