@media (width > 450px) {
  #appFooter #pointerXY {
    display: flex;
  }
  
  #appFooter #pointerXY + .appFooterSeparator {
    display: block;
  }
}

@media (width > 615px) {
  #appFooter #selectionWH {
    display: flex;
  }
  
  #appFooter #selectionWH + .appFooterSeparator {
    display: block;
  }
}

@media (width > 790px) {
  #appFooter #pageSize {
    display: flex;
  }
  
  #appFooter #pageSize + .appFooterSeparator {
    display: block;
  }
}

@media (width > 960px) {
  #appFooter #fileSize {
    display: flex;
  }
  
  #appFooter #fileSize + .appFooterSeparator {
    display: block;
  }
}

@media (width > 530px) {
  #colorsSection {
    grid-template-rows: calc(3.8lh + 12px) auto;
  }
  
  #colorsSection .actionBtns {
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 'color1 color2 colorsCont editColors';
  }
  
  #fileOpts .fileOpt {
    width: 225px;
  }
  
  #saveAsBtnCont {
    width: 225px;
  }
  
  #saveAsBtnCont .fileOpt {
    width: 100%;
  }

  #fileLists {
    width: 300px;
  }
}

@media (width > 750px) {
  #fileOpts .fileOpt {
    width: 260px;
  }
  
  #saveAsBtnCont {
    width: 260px;
  }
  
  #saveAsBtnCont .fileOpt {
    width: 100%;
  }
  
  #fileLists {
    width: 450px;
  }
  
  #saveAsOpts .saveAsOpt {
    padding-right: 20px;
  }
}