#tabs {
  grid-area: tabs;
  display: grid;
  grid-template-columns: 75px 75px 75px 1fr;
}

#tabs .tab {
  justify-content: center;
  display: flex;
  padding: 7px;
  box-shadow:
    inset -2px 2px 0 0 #0000,
    inset 2px 0 0 0 #0000,
    inset 0 -2px 0 0 #d7d7d7
}

#voidTab {
  box-shadow: inset 0 -2px 0 0 #d7d7d7
}

#homeTabChk:checked ~ #app #homeTab {
  background-color: #f5f6f7;
  box-shadow:
    inset -2px 2px 0 0 #d7d7d7,
    inset 2px 0 0 0 #d7d7d7
}

#viewTabChk:checked ~ #app #viewTab {
  background-color: #f5f6f7;
  box-shadow:
    inset -2px 2px 0 0 #d7d7d7,
    inset 2px 0 0 0 #d7d7d7
}

#homeTabChk:checked ~ #app #homeSections {
  display: flex;
}

#viewTabChk:checked ~ #app #viewSections {
  display: flex;
}

#viewTabChk:checked ~ #app #extendSections {
  display: none;
}

#viewTabChk:checked ~ #app #actions {
  grid-template-rows: auto;
  grid-template-areas: 'actionSections';
}

#viewTabChk:checked ~ #app #actionSections {
  height: auto;
  padding: 5px 3px;
  padding-bottom: 7px;
}

#viewTabChk:checked ~ #app #viewSections .sectionSeparator {
  display: initial;
}

#fileTab {
  color: #fff;
  background-color: #1979ca;
}