#workspace {
  grid-area: workspace;
  color: hsl(214.5,17.1%,40%);
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    'ruleUnion ruleX'
    'ruleY drawContainer';
}

#ruleChk ~ #app #ruleUnion,
#ruleChk ~ #app #ruleX,
#ruleChk ~ #app #ruleY {
  display: none;
}

#ruleChk:checked ~ #app #ruleUnion,
#ruleChk:checked ~ #app #ruleX,
#ruleChk:checked ~ #app #ruleY {
  background-color: #f1f3f8;
  display: flex;
}

#ruleX {
  padding-left: 5px;
  display: flex;
  border-bottom: 1px solid #8e9caf;
}

#ruleX .ruleSection {
  width: var(--rule-scale);
}

#ruleX .ruleLines {
  width: 100%;
  height: 100%;
  display: flex;
}

#ruleX .ruleLines span {
  margin-left: calc((var(--rule-scale) - 9px) / 10);
  width: 1px;
  height: 5px;
  background-color: #8e9caf;
}

#ruleX .ruleSeparator {
  height: 100%;
  width: 1px;
  background-color: #8e9caf;
}

#ruleX .ruleNumber {
  padding: 0 4px;
  height: 1lh;
}

#ruleY {
  border-right: 1px solid #8e9caf;
  padding-top: 5px;
  display: flex;
  text-align: right;
  flex-direction: row-reverse;
  writing-mode: sideways-lr;
}

#ruleY .ruleSection {
  height: var(--rule-scale);
}

#ruleY .ruleLines {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#ruleY .ruleLines span {
  margin-top: calc((var(--rule-scale) - 9px) / 10);
  width: 5px;
  height: 1px;
  background-color: #8e9caf;
}

#ruleY .ruleSeparator {
  height: 1px;
  width: 100%;
  background-color: #8e9caf;
}

#ruleY .ruleNumber {
  padding: 4px 0;
  width: 1lh;
}

.ruleSection {
  display: grid;
  grid-template-rows: 1lh 5px;
}

#drawContainer {
  grid-area: drawContainer;
  background-color: #dae3f0;
  padding: 5px;
}

#canvas {
  background-color: #fff;
}