#workspace {
  grid-area: workspace;
  color: hsl(214.5,17.1%,40%);
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    'rulerUnion rulerX'
    'rulerY drawContainer';
}

#rulersChk ~ #app #rulerUnion,
#rulersChk ~ #app #rulerX,
#rulersChk ~ #app #rulerY {
  display: none;
}

#rulersChk:checked ~ #app #rulerUnion,
#rulersChk:checked ~ #app #rulerX,
#rulersChk:checked ~ #app #rulerY {
  background-color: #f1f3f8;
  display: flex;
}

#rulerX {
  padding-left: 5px;
  border-bottom: 1px solid #8e9caf;
}

#rulerX .rulerSection {
  width: calc(var(--ruler-scale) - 1px);
}

#rulerX .rulerLines {
  width: 100%;
  height: 100%;
  display: flex;
}

#rulerX .rulerLines span {
  margin-left: calc((var(--ruler-scale) - 9px) / 10);
  width: 1px;
  height: 5px;
  background-color: #8e9caf;
}

#rulerX .rulerSeparator {
  height: 100%;
  width: 1px;
  background-color: #8e9caf;
}

#rulerX .rulerNumber {
  padding: 0 4px;
  height: 1lh;
}

#rulerY {
  border-left: 1px solid #8e9caf;
  padding-bottom: 5px;
  text-align: right;
  flex-direction: row-reverse;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

#rulerY .rulerSection {
  height: calc(var(--ruler-scale) - 1px);
}

#rulerY .rulerLines {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#rulerY .rulerLines span {
  margin-bottom: calc((var(--ruler-scale) - 9px) / 10);
  width: 5px;
  height: 1px;
  background-color: #8e9caf;
}

#rulerY .rulerSeparator {
  height: 1px;
  width: 100%;
  background-color: #8e9caf;
}

#rulerY .rulerNumber {
  padding: 4px 0;
  width: 1lh;
}

.rulerSection {
  display: grid;
  grid-template-rows: 1lh 5px;
}

#drawContainer {
  grid-area: drawContainer;
  background-color: #dae3f0;
  padding: 5px;
  
  display: grid;
}

#canvas {
  image-rendering: pixelated;
  display: inline-block;
  background-color: #fff;
  box-shadow: 2px 2px 2px 0 lightgray;
}